<section class="container-fluid text-center" >
  <div class="row" id="recipe">
    <div class="col mx-2 border rounded bg-dark recipeStore">
      <div class="searchAndDisplayTabs">
        <h5> Search for Recipes</h5>
        <h6 id="displayItem"></h6>
      </div>
      <input type="text" id="recipeItems"><button id="searchButton" onclick="searchRecipe1()">&#x1F50D;</button>
    </div>


    <div class="col mx-2 border rounded bg-dark recipeStore">
      <div class="searchAndDisplayTabs">
        <h5> Search for Store</h5>
        <h6 id="displayItem"></h6>
      </div>
      <input type="text" id="recipeItems"><button id="searchButton" onclick="searchRecipe3()">&#x1F50D;</button>
    </div>

    <div id="displayPictures">

      {{#if loggedIn}}
      <div id="DISPLAY" class="display">
        <img src="">
        <div class="recipeTabs">
          <a href="">Your saved Recipes
        </div>
        <div> <a id="viewRecipe" href="#"></a></div>
        <div></div>
      </div>
    </div>
  </div>
  {{/if}}
</section>