<section>
<div class="row" id="recipe">
        <div class="col-sm-2">
           <div class="searchAndDisplayTabs"><h5> Search for Food</h5><h6 id="displayItem"></h6></div>
          <input type="text" id="recipeItems"><button id="searchButton" onclick="searchRecipe1()">&#x1F50D;</button>  
          
          
        <div class="row" id="recipe">
          <div class="col-sm-2">
             <div class="searchAndDisplayTabs"><h5> Search for Drinks</h5><h6 id="displayItem"></h6></div>
            <input type="text" id="recipeItems"><button id="searchButton" onclick="searchRecipe2()">&#x1F50D;</button>  
          
          
         <div class="row" id="recipe">
                <div class="col-sm-2">
                   <div class="searchAndDisplayTabs"><h5> Search for Store</h5><h6 id="displayItem"></h6></div>
                  <input type="text" id="recipeItems"><button id="searchButton" onclick="searchRecipe3()">&#x1F50D;</button>  
            <div id="displayPictures">
            
            
                <div id ="DISPLAY" class="display">
              <img src="">
              <div class="recipeTabs">
                <div></div>
                <div> <a id="viewRecipe" href="#"></a></div>
                <div></div>
              </div>
            </div>
            </div>
            
             <div id="DISPLAY" class="display">
              <img src="">
              <div class="recipeTabs">
                <div></div>
                <div> <a id="viewRecipe" href="#"></a></div>
                <div></div>
              </div>
             </div>
            </div>
      </div>
    </div>
  </div>
  </section>