<<<<<<< HEAD
<form class="login-form text-center">
  <div class="">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
=======
<form class="login-form">
>>>>>>> 9a8f35e4996bb91feb2cad6129b0a349730ce441
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
<<<<<<< HEAD
    <button type="submit" class="text-center border border-dark rounded buttons bg-info">login</button>
  </div>
</form>

<form class="signup-form text-center">
  <div class="">
=======
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
>>>>>>> 9a8f35e4996bb91feb2cad6129b0a349730ce441
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
<<<<<<< HEAD
    <button type="submit" class="text-center border border-dark rounded buttons bg-info">signup</button>
  </div>
</form>

<script src="/js/login.js"></script>
=======
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>
>>>>>>> 9a8f35e4996bb91feb2cad6129b0a349730ce441
